* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
button {
  position: absolute;
  padding: 15px 20px;
  top: 50%;
  left: 50%;
  background-color: greenyellow;
  transform: translate(-50%, -50%);
  font-size: 15px;
  border-radius: 10px;
}
.img1 {
  position: absolute;
  left: 0;
  top: 0;
}

